@{
    ViewBag.Title = "Página Principal";
}

<h2>@ViewBag.Message</h2>
<p>
    Para aprender más acerca de ASP.NET MVC visite <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
    <i>Español General</i>  (ES)
</p>
